/* Banner */

.faq-page {
    padding: 80px;
}

@media (min-width: 1440px) {
    .tour-list-mobile {
        display: none;
    }
    .mobile-controller-blog {
        display: none;
    }
    .list-detals-moblie {
        display: none;
    }
    .list-room-mobile {
        display: none;
    }
    .scroll-to-top.show {
        opacity: 1;
        visibility: visible;
        bottom: 70px;
        right: -30px;
    }
    /* CSS hiệu ứng hiển thị Modal */
    .nenmodal.active .ndmodal {
        transition: all 300ms ease-in-out;
        transform: translate(-50%, -50%) scale(1);
    }
    @keyframes zoom {
        0% {
            transform: scale(.5);
            opacity: 0
        }
        50% {
            opacity: 1
        }
        to {
            opacity: 0;
            transform: scale(1)
        }
    }
    @keyframes lucidgenzalo {
        0% {
            transform: rotate(-25deg)
        }
        50% {
            transform: rotate(25deg)
        }
    }
    .jscroll-to-top {
        bottom: 100px
    }
    .fcta-zalo-ben-trong-nut img {
        fill: #fff
    }
    .fcta-zalo-vi-tri-nut {
        position: fixed;
        bottom: 24px;
        left: 24px;
        z-index: 999
    }
    .fcta-zalo-nen-nut,
    div.fcta-zalo-mess {
        box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16)
    }
    .fcta-zalo-nen-nut {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #0068ff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut::after,
    .fcta-zalo-nen-nut::before {
        content: "";
        position: absolute;
        border: 1px solid #0068ff;
        background: #0068ff80;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut::after {
        animation-delay: .4s
    }
    .fcta-zalo-ben-trong-nut,
    .fcta-zalo-ben-trong-nut i {
        transition: all 1s
    }
    .fcta-zalo-ben-trong-nut {
        position: absolute;
        text-align: center;
        width: 60%;
        height: 60%;
        left: 13px;
        bottom: 23px;
        line-height: 55px;
        font-size: 25px;
        opacity: 1
    }
    /* telegram */
    .fcta-zalo-vi-tri-nut-telegram {
        position: fixed;
        bottom: 180px;
        left: 24px;
        z-index: 999;
    }
    .fcta-zalo-nen-nut-telegram {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #ffffff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-telegram {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #ffffff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-telegram::after,
    .fcta-zalo-nen-nut-telegram::before {
        content: "";
        position: absolute;
        border: 1px solid #bc3cd7;
        background: #9737ff;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-telegram::after {
        animation-delay: .4s
    }
    /* facebook */
    .fcta-zalo-vi-tri-nut-facebook {
        position: fixed;
        bottom: 102px;
        left: 24px;
        z-index: 999
    }
    .fcta-zalo-nen-nut-facebook {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #0068ff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-facebook::after,
    .fcta-zalo-nen-nut-facebook::before {
        content: "";
        position: absolute;
        border: 1px solid #0068ff;
        background: #0068ff80;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-facebook::after {
        animation-delay: .4s
    }
    /* LiÊN hỆ */
    .fcta-zalo-vi-tri-nut-lien-he {
        position: fixed;
        bottom: 24px;
        right: 65px;
        z-index: 999;
    }
    .fcta-zalo-nen-nut-lien-he {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #63ab45;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-lien-he::after,
    .fcta-zalo-nen-nut-lien-he::before {
        content: "";
        position: absolute;
        border: 1px solid #63ab45;
        background: #c0efac;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-lien-he::after {
        animation-delay: .4s
    }
    div.fcta-zalo-mess {
        position: fixed;
        bottom: 33px;
        right: 113px;
        z-index: 99;
        background: #fff;
        padding: 7px 25px 7px 15px;
        color: #0068ff;
        border-radius: 50px 0 0 50px;
        font-weight: 700;
        font-size: 15px
    }
    .fcta-zalo-mess span {
        color: #63ab45 !important
    }
    span#fcta-zalo-tracking {
        font-family: Roboto;
        line-height: 1.5
    }
    .fcta-zalo-text {
        font-family: Roboto
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    /* CSS hiệu ứng hiển thị Modal */
    .nenmodal.active .ndmodal {
        transition: all 300ms ease-in-out;
        transform: translate(-50%, -50%) scale(1);
    }
    @keyframes zoom {
        0% {
            transform: scale(.5);
            opacity: 0
        }
        50% {
            opacity: 1
        }
        to {
            opacity: 0;
            transform: scale(1)
        }
    }
    @keyframes lucidgenzalo {
        0% {
            transform: rotate(-25deg)
        }
        50% {
            transform: rotate(25deg)
        }
    }
    .jscroll-to-top {
        bottom: 100px
    }
    .fcta-zalo-ben-trong-nut img {
        fill: #fff
    }
    .fcta-zalo-vi-tri-nut {
        position: fixed;
        bottom: 24px;
        left: 24px;
        z-index: 999
    }
    .fcta-zalo-nen-nut,
    div.fcta-zalo-mess {
        box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16)
    }
    .fcta-zalo-nen-nut {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #0068ff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut::after,
    .fcta-zalo-nen-nut::before {
        content: "";
        position: absolute;
        border: 1px solid #0068ff;
        background: #0068ff80;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut::after {
        animation-delay: .4s
    }
    .fcta-zalo-ben-trong-nut,
    .fcta-zalo-ben-trong-nut i {
        transition: all 1s
    }
    .fcta-zalo-ben-trong-nut {
        position: absolute;
        text-align: center;
        width: 60%;
        height: 60%;
        left: 13px;
        bottom: 23px;
        line-height: 55px;
        font-size: 25px;
        opacity: 1
    }
    /* telegram */
    .fcta-zalo-vi-tri-nut-telegram {
        position: fixed;
        bottom: 180px;
        left: 24px;
        z-index: 999;
    }
    .fcta-zalo-nen-nut-telegram {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #ffffff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-telegram {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #ffffff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-telegram::after,
    .fcta-zalo-nen-nut-telegram::before {
        content: "";
        position: absolute;
        border: 1px solid #bc3cd7;
        background: #9737ff;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-telegram::after {
        animation-delay: .4s
    }
    /* facebook */
    .fcta-zalo-vi-tri-nut-facebook {
        position: fixed;
        bottom: 102px;
        left: 24px;
        z-index: 999
    }
    .fcta-zalo-nen-nut-facebook {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #0068ff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-facebook::after,
    .fcta-zalo-nen-nut-facebook::before {
        content: "";
        position: absolute;
        border: 1px solid #0068ff;
        background: #0068ff80;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-facebook::after {
        animation-delay: .4s
    }
    /* LiÊN hỆ */
    .fcta-zalo-vi-tri-nut-lien-he {
        position: fixed;
        bottom: 24px;
        right: 65px;
        z-index: 999;
    }
    .fcta-zalo-nen-nut-lien-he {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #63ab45;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-lien-he::after,
    .fcta-zalo-nen-nut-lien-he::before {
        content: "";
        position: absolute;
        border: 1px solid #63ab45;
        background: #c0efac;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-lien-he::after {
        animation-delay: .4s
    }
    div.fcta-zalo-mess {
        position: fixed;
        bottom: 33px;
        right: 113px;
        z-index: 99;
        background: #fff;
        padding: 7px 25px 7px 15px;
        color: #0068ff;
        border-radius: 50px 0 0 50px;
        font-weight: 700;
        font-size: 15px
    }
    .fcta-zalo-mess span {
        color: #63ab45 !important
    }
    span#fcta-zalo-tracking {
        font-family: Roboto;
        line-height: 1.5
    }
    .fcta-zalo-text {
        font-family: Roboto
    }
    .scroll-to-top.show {
        opacity: 1;
        visibility: visible;
        bottom: 70px;
        right: -30px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .scroll-to-top.show {
        opacity: 1;
        visibility: visible;
        bottom: 70px;
        right: -30px;
    }
    /* CSS hiệu ứng hiển thị Modal */
    .nenmodal.active .ndmodal {
        transition: all 300ms ease-in-out;
        transform: translate(-50%, -50%) scale(1);
    }
    @keyframes zoom {
        0% {
            transform: scale(.5);
            opacity: 0
        }
        50% {
            opacity: 1
        }
        to {
            opacity: 0;
            transform: scale(1)
        }
    }
    @keyframes lucidgenzalo {
        0% {
            transform: rotate(-25deg)
        }
        50% {
            transform: rotate(25deg)
        }
    }
    .jscroll-to-top {
        bottom: 100px
    }
    .fcta-zalo-ben-trong-nut img {
        fill: #fff
    }
    .fcta-zalo-vi-tri-nut {
        position: fixed;
        bottom: 24px;
        left: 24px;
        z-index: 999
    }
    .fcta-zalo-nen-nut,
    div.fcta-zalo-mess {
        box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16)
    }
    .fcta-zalo-nen-nut {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #0068ff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut::after,
    .fcta-zalo-nen-nut::before {
        content: "";
        position: absolute;
        border: 1px solid #0068ff;
        background: #0068ff80;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut::after {
        animation-delay: .4s
    }
    .fcta-zalo-ben-trong-nut,
    .fcta-zalo-ben-trong-nut i {
        transition: all 1s
    }
    .fcta-zalo-ben-trong-nut {
        position: absolute;
        text-align: center;
        width: 60%;
        height: 60%;
        left: 13px;
        bottom: 23px;
        line-height: 55px;
        font-size: 25px;
        opacity: 1
    }
    /* telegram */
    .fcta-zalo-vi-tri-nut-telegram {
        position: fixed;
        bottom: 180px;
        left: 24px;
        z-index: 999;
    }
    .fcta-zalo-nen-nut-telegram {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #ffffff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-telegram {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #ffffff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-telegram::after,
    .fcta-zalo-nen-nut-telegram::before {
        content: "";
        position: absolute;
        border: 1px solid #bc3cd7;
        background: #9737ff;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-telegram::after {
        animation-delay: .4s
    }
    /* facebook */
    .fcta-zalo-vi-tri-nut-facebook {
        position: fixed;
        bottom: 102px;
        left: 24px;
        z-index: 999
    }
    .fcta-zalo-nen-nut-facebook {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #0068ff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-facebook::after,
    .fcta-zalo-nen-nut-facebook::before {
        content: "";
        position: absolute;
        border: 1px solid #0068ff;
        background: #0068ff80;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-facebook::after {
        animation-delay: .4s
    }
    /* LiÊN hỆ */
    .fcta-zalo-vi-tri-nut-lien-he {
        position: fixed;
        bottom: 24px;
        right: 65px;
        z-index: 999;
    }
    .fcta-zalo-nen-nut-lien-he {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #63ab45;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-lien-he::after,
    .fcta-zalo-nen-nut-lien-he::before {
        content: "";
        position: absolute;
        border: 1px solid #63ab45;
        background: #c0efac;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-lien-he::after {
        animation-delay: .4s
    }
    div.fcta-zalo-mess {
        position: fixed;
        bottom: 33px;
        right: 113px;
        z-index: 99;
        background: #fff;
        padding: 7px 25px 7px 15px;
        color: #0068ff;
        border-radius: 50px 0 0 50px;
        font-weight: 700;
        font-size: 15px
    }
    .fcta-zalo-mess span {
        color: #63ab45 !important
    }
    span#fcta-zalo-tracking {
        font-family: Roboto;
        line-height: 1.5
    }
    .fcta-zalo-text {
        font-family: Roboto
    }
}

@media (min-width: 765px) and (max-width: 1024px) {
    .scroll-to-top.show {
        opacity: 1;
        visibility: visible;
        bottom: 70px;
        right: -30px;
    }
    /* CSS hiệu ứng hiển thị Modal */
    .nenmodal.active .ndmodal {
        transition: all 300ms ease-in-out;
        transform: translate(-50%, -50%) scale(1);
    }
    @keyframes zoom {
        0% {
            transform: scale(.5);
            opacity: 0
        }
        50% {
            opacity: 1
        }
        to {
            opacity: 0;
            transform: scale(1)
        }
    }
    @keyframes lucidgenzalo {
        0% {
            transform: rotate(-25deg)
        }
        50% {
            transform: rotate(25deg)
        }
    }
    .jscroll-to-top {
        bottom: 100px
    }
    .fcta-zalo-ben-trong-nut img {
        fill: #fff
    }
    .fcta-zalo-vi-tri-nut {
        position: fixed;
        bottom: 24px;
        left: 24px;
        z-index: 999
    }
    .fcta-zalo-nen-nut,
    div.fcta-zalo-mess {
        box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16)
    }
    .fcta-zalo-nen-nut {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #0068ff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut::after,
    .fcta-zalo-nen-nut::before {
        content: "";
        position: absolute;
        border: 1px solid #0068ff;
        background: #0068ff80;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut::after {
        animation-delay: .4s
    }
    .fcta-zalo-ben-trong-nut,
    .fcta-zalo-ben-trong-nut i {
        transition: all 1s
    }
    .fcta-zalo-ben-trong-nut {
        position: absolute;
        text-align: center;
        width: 60%;
        height: 60%;
        left: 13px;
        bottom: 23px;
        line-height: 55px;
        font-size: 25px;
        opacity: 1
    }
    /* telegram */
    .fcta-zalo-vi-tri-nut-telegram {
        position: fixed;
        bottom: 180px;
        left: 24px;
        z-index: 999;
    }
    .fcta-zalo-nen-nut-telegram {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #ffffff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-telegram {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #ffffff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-telegram::after,
    .fcta-zalo-nen-nut-telegram::before {
        content: "";
        position: absolute;
        border: 1px solid #bc3cd7;
        background: #9737ff;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-telegram::after {
        animation-delay: .4s
    }
    /* facebook */
    .fcta-zalo-vi-tri-nut-facebook {
        position: fixed;
        bottom: 102px;
        left: 24px;
        z-index: 999
    }
    .fcta-zalo-nen-nut-facebook {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #0068ff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-facebook::after,
    .fcta-zalo-nen-nut-facebook::before {
        content: "";
        position: absolute;
        border: 1px solid #0068ff;
        background: #0068ff80;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-facebook::after {
        animation-delay: .4s
    }
    /* LiÊN hỆ */
    .fcta-zalo-vi-tri-nut-lien-he {
        position: fixed;
        bottom: 24px;
        right: 65px;
        z-index: 999;
    }
    .fcta-zalo-nen-nut-lien-he {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #63ab45;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-lien-he::after,
    .fcta-zalo-nen-nut-lien-he::before {
        content: "";
        position: absolute;
        border: 1px solid #63ab45;
        background: #c0efac;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-lien-he::after {
        animation-delay: .4s
    }
    div.fcta-zalo-mess {
        position: fixed;
        bottom: 33px;
        right: 113px;
        z-index: 99;
        background: #fff;
        padding: 7px 25px 7px 15px;
        color: #0068ff;
        border-radius: 50px 0 0 50px;
        font-weight: 700;
        font-size: 15px
    }
    .fcta-zalo-mess span {
        color: #63ab45 !important
    }
    span#fcta-zalo-tracking {
        font-family: Roboto;
        line-height: 1.5
    }
    .fcta-zalo-text {
        font-family: Roboto
    }
    .tour-list-mobile {
        display: none;
    }
    .section-space {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    li.dropdown {
        color: white;
    }
    .left-controller-tour-new {
        display: none;
    }
    .left-controller-tour-story {
        display: none;
    }
    .list-room-mobile {
        display: none;
    }
    .list-detals-moblie {
        display: none;
    }
    .mobile-controller-blog {
        display: none;
    }
    .faq-page {
        padding: 0px;
        margin-top: 50px;
    }
}

@media (min-width: 765px) and (max-width: 800px) {
    .scroll-to-top.show {
        opacity: 1;
        visibility: visible;
        bottom: 70px;
        right: -30px;
    }
    .tour-list-mobile {
        display: none;
    }
    .section-space {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    li.dropdown {
        color: white;
    }
    .left-controller-tour-new {
        display: none;
    }
    .left-controller-tour-story {
        display: none;
    }
    .list-room-mobile {
        display: none;
    }
    .list-detals-moblie {
        display: none;
    }
    .mobile-controller-blog {
        display: none;
    }
    .fadeInLeft {
        display: none;
    }
    .faq-page {
        padding: 0px;
        margin-top: 50px;
    }
    .scroll-to-top.show {
        opacity: 1;
        visibility: visible;
        bottom: 70px;
        right: -30px;
    }
}

.mobile-review {
    padding-top: 20px;
}

@media (min-width: 300px) and (max-width: 760px) {
    .banner-form--two {
        display: none;
    }
    li.dropdown {
        color: white;
    }
    .main-slider-five__title {
        font-size: 25px;
    }
    .main-slider-five {
        height: 900px;
    }
    .main-slider-five__carousel .active .main-slider-five__image {
        height: 800px;
    }
    .main-slider-five__carousel .active .main-slider-five__title {
        font-size: 40px;
    }
    .left-controller-tour-new {
        display: none;
    }
    .left-controller-tour-story {
        display: none;
    }
    .right-controller .tour-list-pc {
        display: none;
    }
    .mobile-review {
        padding-top: 20px;
    }
    .section-space {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .row-room-list-mobile {
        display: none;
    }
    .left-controller-room-new {
        display: none;
    }
    .left-controller-blog {
        display: none;
    }
    .controller-blog {
        display: none;
    }
    .right-menu-moblie {
        display: none;
    }
    .fadeInLeft {
        display: none;
    }
    .faq-page {
        padding: 0px;
        margin-top: 50px;
    }
    /* Nút Liên Hệ */
    /* CSS hiệu ứng hiển thị Modal */
    .nenmodal.active .ndmodal {
        transition: all 300ms ease-in-out;
        transform: translate(-50%, -50%) scale(1);
    }
    @keyframes zoom {
        0% {
            transform: scale(.5);
            opacity: 0
        }
        50% {
            opacity: 1
        }
        to {
            opacity: 0;
            transform: scale(1)
        }
    }
    @keyframes lucidgenzalo {
        0% {
            transform: rotate(-25deg)
        }
        50% {
            transform: rotate(25deg)
        }
    }
    .jscroll-to-top {
        bottom: 100px
    }
    .fcta-zalo-ben-trong-nut img {
        fill: #fff
    }
    .fcta-zalo-vi-tri-nut {
        position: fixed;
        bottom: 24px;
        left: 24px;
        z-index: 999
    }
    .fcta-zalo-nen-nut,
    div.fcta-zalo-mess {
        box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16)
    }
    .fcta-zalo-nen-nut {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #0068ff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut::after,
    .fcta-zalo-nen-nut::before {
        content: "";
        position: absolute;
        border: 1px solid #0068ff;
        background: #0068ff80;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut::after {
        animation-delay: .4s
    }
    .fcta-zalo-ben-trong-nut,
    .fcta-zalo-ben-trong-nut i {
        transition: all 1s
    }
    .fcta-zalo-ben-trong-nut {
        position: absolute;
        text-align: center;
        width: 60%;
        height: 60%;
        left: 13px;
        bottom: 23px;
        line-height: 55px;
        font-size: 25px;
        opacity: 1
    }
    /* telegram */
    .fcta-zalo-vi-tri-nut-telegram {
        position: fixed;
        bottom: 180px;
        left: 24px;
        z-index: 999;
    }
    .fcta-zalo-nen-nut-telegram {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #ffffff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-telegram {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #ffffff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-telegram::after,
    .fcta-zalo-nen-nut-telegram::before {
        content: "";
        position: absolute;
        border: 1px solid #bc3cd7;
        background: #9737ff;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-telegram::after {
        animation-delay: .4s
    }
    /* facebook */
    .fcta-zalo-vi-tri-nut-facebook {
        position: fixed;
        bottom: 102px;
        left: 24px;
        z-index: 999
    }
    .fcta-zalo-nen-nut-facebook {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #0068ff;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-facebook::after,
    .fcta-zalo-nen-nut-facebook::before {
        content: "";
        position: absolute;
        border: 1px solid #0068ff;
        background: #0068ff80;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-facebook::after {
        animation-delay: .4s
    }
    /* LiÊN hỆ */
    .fcta-zalo-vi-tri-nut-lien-he {
        position: fixed;
        bottom: 24px;
        right: 20px;
        z-index: 999;
    }
    .fcta-zalo-nen-nut-lien-he {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #63ab45;
        border-radius: 50%;
        position: relative
    }
    .fcta-zalo-nen-nut-lien-he::after,
    .fcta-zalo-nen-nut-lien-he::before {
        content: "";
        position: absolute;
        border: 1px solid #63ab45;
        background: #c0efac;
        z-index: -1;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: zoom 1.9s linear infinite
    }
    .fcta-zalo-nen-nut-lien-he::after {
        animation-delay: .4s
    }
    div.fcta-zalo-mess {
        position: fixed;
        bottom: 33px;
        right: 70px;
        z-index: 99;
        background: #fff;
        padding: 7px 25px 7px 15px;
        color: #0068ff;
        border-radius: 50px 0 0 50px;
        font-weight: 700;
        font-size: 15px
    }
    .fcta-zalo-mess span {
        color: #63ab45 !important
    }
    span#fcta-zalo-tracking {
        font-family: Roboto;
        line-height: 1.5
    }
    .fcta-zalo-text {
        font-family: Roboto
    }
    .scroll-to-top.show {
        opacity: 1;
        visibility: visible;
        bottom: 70px;
        right: -50px;
    }
}